<section class="sidenav">
  <div class="sidenav-profile-pic">
    <img
      class="sidenav-profile-pic__img"
      src="../../../assets/images/image-jeremy.png"
      alt="user profile pic"
    />
  </div>

  <div class="sidenav-name">
    <p class="sidenav-name__p">Report for</p>
    <h1 class="sidenav-name__h1">Jeremy Robson</h1>
  </div>

  <nav class="sidenav-links">
    <a class="sidenav-links__a" [routerLink]="['']"> Home </a>
    <a class="sidenav-links__a" [routerLink]="['newAct']"> New </a>
    <a class="sidenav-links__a" [routerLink]="['cardList/' + true]"> Delete </a>
  </nav>
<!-- 
  <nav class="sidenav-links">
    <a class="sidenav-links__a" [routerLink]="['']"> Daily </a>
    <a class="sidenav-links__a" [routerLink]="['']"> Weekly </a>
    <a class="sidenav-links__a" [routerLink]="['']"> Monthly </a>
  </nav> -->

  <nav class="sidenav-links login-logout">
    <a class="sidenav-links__a" [routerLink]=""> Login </a>
  </nav>
</section>
