<section class="parent_div">
  <div class="activity_img">
    <div class="activity_img__container">
      <img class="activity_img__content" src="/assets/images/icon-work.svg" />
    </div>
  </div>

  <div class="activity_div" [id]="activity.ID">
    <div class="activity_info">
      <p class="activity_info__name">work</p>
      <img class="activity_info__dots_img" src="/assets/images/icon-ellipsis.svg" />
    </div>

    <div class="activity_curr_time">32hrs</div>
    <div class="activity_prev_time">yesterday - 0hrs</div>
  </div>
</section>
