@import "variables.scss";

.activity_div {
  height: 100%;
  width: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 16px;

  display: grid;
  grid-template-rows: 1.5fr 1fr 1.5fr 1fr;
  align-items: center;

  font-family: "Rubik", sans-serif;
  font-size: 1vw;
  transition: all 1s ease;
}

.activity_img {
  border-radius: 16px;
  border: 1px solid yellow;
  height: 100%;
}

.activity_div:hover {
  background-color: hsl(235, 45%, 30%);
}

.activity_info {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
}

.activity_info__dots {
  color: rgba(255, 255, 255, 0.7);
  transition: all 1s ease;
}

.activity_info__dots:hover {
  cursor: pointer;
  color: #fff;
}

.activity_curr_time {
  padding: 0 20px;
  color: #fff;
  font-size: 3em;
  font-weight: 400;
  justify-self: center;
}

.activity_prev_time {
  padding-left: 20px;
  color: #9c9c9c;
  text-transform: capitalize;
}
