@use "../../styles/variables.scss";
.card-list {
  height: 525px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  row-gap: 75px; // 200px + 75px gap + 200px - 50px to paddintop abaixo = list/profile height
  column-gap: 30px;
  align-items: space-between;
  padding-top: 50px; //pra compensar o espaço ocupado pelo :before da atv que é uma % da altura da mesma.

  @media screen and (max-width: variables.$mediumScreen) {
    grid-template: 1fr 1fr / 1fr;
    grid-auto-rows: auto;
    height: fit-content;
    padding-bottom: 50px;
    gap: 50px;
  }
}
