<section class="profile">
  <div class="card-front">
    <div class="card-front__img-wrapper">
      <img src="../../../assets/images/image-jeremy.png" alt="user picture" />
    </div>

    <div class="text-area">
      <span class="text-area__span"> Report for </span>
      <h1 class="text-area__title">Jeremy Robson</h1>
    </div>
  </div>

  <div class="card-back">
    <nav class="card-back__nav">
      <a
        routerLink="/home/daily"
        routerLinkActive="card-back__links--active"
        class="card-back__links"
      >
        Daily</a
      >
      <a
        routerLink="/home/weekly"
        routerLinkActive="card-back__links--active"
        class="card-back__links"
      >
        Weekly</a
      >
      <a
        routerLink="/home/monthly"
        routerLinkActive="card-back__links--active"
        class="card-back__links"
      >
        Monthly</a
      >
    </nav>
  </div>
</section>
