<section class="parent_div">
  <div class="profile">
    <div class="user_img">
      <div class="user_img__div">
        <img
          class="user_img__content"
          [src]="imgs_path + profile_pic"
          alt="user picture"
        />
      </div>
    </div>

    <div class="user_info">
      <span class="user_info__span"> Report for </span>
      <h1 class="user_info__name">
        <p>Jeremy</p>
        <p>Robson</p>
      </h1>
    </div>
  </div>

  <div class="navigation">
    <nav class="navigation_menu">
      <a class="navigation_menu__item"> Daily</a>
      <a class="navigation_menu__item"> Weekly</a>
      <a class="navigation_menu__item"> Monthly</a>
    </nav>
  </div>
</section>
