<section class="profile">
  <div class="card-front">
    <div class="card-front__img-wrapper">
      <img src="../../../assets/images/image-jeremy.png" alt="user picture" />
    </div>

    <div class="text-area">
      <span class="text-area__span"> Report for </span>
      <h1 class="text-area__title">Jeremy Robson</h1>
    </div>
  </div>

  <div class="card-back">
    <nav class="card-back__nav">
      <a routerLink="/home/daily" class="card-back__links"> Daily</a>
      <a routerLink="/home/weekly" class="card-back__links card-back__links--active"> Weekly</a>
      <a routerLink="/home/monthly" class="card-back__links"> Monthly</a>
    </nav>
  </div>
</section>
