$font_family: "Rubik", sans-serif;

$mobile_bp: "480px";
//smaller phones
$tablet_bp: "1050px";
// tablets and larger phones
$laptop_bp: "1280px";
// laptops, tablets in landscape
$big_monitor_bp: "1440px";

// Primary Colors

$blue: hsl(246, 80%, 60%);
$light_red: hsl(15, 100%, 70%); // work
$soft_blue: hsl(195, 74%, 62%); // play
$lime_green: hsl(145, 58%, 55%); // exercise
$pink: hsl(348, 100%, 68%); // study
$violet: hsl(264, 64%, 52%); // social
$soft_orange: hsl(43, 84%, 65%); // self care

//  Neutral Colors

$very_dark_blue: hsl(226, 43%, 10%);
$dark_blue: hsl(235, 46%, 20%);
$desatured_blue: hsl(235, 45%, 61%);
$pale_blue: hsl(236, 100%, 87%);
