$font_family: "Rubik", sans-serif;

$mobile_bp: "480px";
//smaller phones
$tablet_bp: "1050px";
// tablets and larger phones
$laptop_bp: "1280px";
// laptops, tablets in landscape
$big_monitor_bp: "1440px";

// Primary Colors

$blue: hsl(246, 80%, 60%);
$light_red: hsl(15, 100%, 70%); // work

// - Soft blue (play): hsl(195, 74%, 62%)

// - Light red (study): hsl(348, 100%, 68%)

// - Lime green (exercise): hsl(145, 58%, 55%)

// - Violet (social): hsl(264, 64%, 52%)

// - Soft orange (self care): hsl(43, 84%, 65%)

//  Neutral Colors

$very_dark_blue: hsl(226, 43%, 10%);
$dark_blue: hsl(235, 46%, 20%);
$desatured_blue: hsl(235, 45%, 61%);
$pale_blue: hsl(236, 100%, 87%);
