<app-card-list />

<div class="sec-menu">
  <div class="form-wrapper">
    <h1>Activity Data</h1>

    <form [formGroup]="newActForm" (ngSubmit)="onSubmit()" class="newAct">
      <div class="input-drawer">
        <p class="input-drawer__p">Nome</p>
        <input
          formControlName="nameInput"
          class="input-drawer__input"
          type="text"
          [placeholder]="actv?.name ?? 'new act'"
        />
      </div>

      <div class="select-drawer">
        <p class="select-drawer_p">Color</p>
        <select
          class="select-drawer__select"
          formControlName="colorSelect"
          id="colorSelect"
        >
          <option value="#0000ff">Blue</option>
          <option value="#ff0000">Green</option>
          <option value="#00ff00">Red</option>
        </select>
      </div>

      <div class="select-drawer">
        <p class="select-drawer_p">Icon</p>
        <select
          class="select-drawer__select"
          formControlName="iconSelect"
          id="iconSelect"
        >
          <option value="play">Play</option>
          <option value="study">Study</option>
          <option value="exercise">Exercise</option>
        </select>
      </div>

      <div class="button-drawer">
        <button type="submit" class="button-drawer__button">
          <a>{{ actv ? "save" : "add" }}</a>
        </button>
      </div>
    </form>
  </div>
</div>
